<div class="card " id="card">
<ul>
  <li> posted by: <br>{{quote.name}}  {{quote.last}}- on {{quote.submitDate | date}}</li>
</ul>
<div class="row">
  <div class="vote col-md-3">
    <i (click)='likeButtonClick()' class="fas fa-thumbs-up fa-2x thumb-up"></i>
    {{numberOfLikes}} &nbsp;&nbsp;&nbsp;
  </div>

  <div class="vote1 col-md-3">
    <i (click)='dislikeButtonClick()' class="fas fa-thumbs-down fa-2x thumb-down"></i>
    {{numberOfDislikes}} <br><br>
  </div>
  <div class="col-md-3">
    <button (click)='quoteDelete(true)'>Delete</button>
  </div>
</div>
</div>


